<!-- views/table.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Users</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
      margin: 0;
      padding: 0;
    }

    .container {
      max-width: 800px;
      margin: 50px auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    h2 {
      text-align: center;
      margin-bottom: 30px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }

    th, td {
      padding: 10px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    th {
      background-color: #f2f2f2;
    }

    td input {
      width: 100%;
      padding: 5px;
      border-radius: 3px;
      border: 1px solid #ccc;
    }

    td button {
      padding: 5px 10px;
      background-color: #4CAF50;
      color: #fff;
      border: none;
      border-radius: 3px;
      cursor: pointer;
    }

    td button:hover {
      background-color: #45a049;
    }

    td .action-button {
      padding: 5px 10px;
      background-color: #4CAF50;
      color: #fff;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      text-decoration: none;
    }

    td .action-button:hover {
      background-color: #45a049;
    }
  </style>
</head>
<body>
  <div class="container">
    <h2>Users</h2>
    <table>
      <thead>
        <tr>
          <th>Name Surname</th>
          <th>Email</th>
          <th>Address</th>
          <th>Save</th>
        </tr>
      </thead>
      <tbody>
        <% for (let i = 0; i < users.length; i++) { %>
          <form action="/admin/updateusers" method="post">
            <input type="hidden" name="uid" value="<%= users[i].uid %>">
            <tr>
              <td><input type="text" name="name_surname" value="<%= users[i].name_surname %>"></td>
              <td><input type="email" name="mail" value="<%= users[i].email %>"></td>
              <td>
                <select name="address">
                    <% for (let j = 0; j < bloki.length; j++) { %>
                    <option value="<%= bloki[j].id %>" <% if (users[i].selectbuildingId === bloki[j].id) { %>selected<% } %>><%= bloki[j].adress %></option>
                    <% } %>
                </select>
              </td>
              <td><button type="submit">Save</button></td>
            </tr>
          </form>
        <% } %>
      </tbody>
    </table>
    <div>
        <a class="action-button" href="/admin/ShowBuildings">Buildings</a>
        <br>
        <a class="action-button" href="/admin/ShowPosts">Posts</a>
      </div>
  </div>
</body>
</html>
